
<div class="w-full pt-6 pb-4 flex flex-col items-center justify-center gap-6">
  <div class="w-full flex flex-row justify-center items-center gap-4">
    <h2 class="text-4xl font-bold text-center">Equipos</h2>
    @if(!!userStore.user()) {
      <a mat-mini-fab aria-label="Editar equipos" matTooltip="Editar equipos" matTooltipPosition="right" tabindex="0" (click)="onEditTeamsClick()" (keyup)="onEditTeamsClick()" (keypress)="onEditTeamsClick()">
        <mat-icon>edit</mat-icon>
      </a>
    }
  </div>
  @if(activeTeams().length > 0) {
    <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 items-stretch">
      @for (team of activeTeams(); track team.id) {
        <app-team-card class="h-full" [team]="team" (teamClick)="onTeamClick(team.id)"></app-team-card>
      }
    </div>
  } @else {
    <app-not-found title="No hay equipos" subtitle="No hay equipos para esta competición." [hideButton]="true"></app-not-found>
  }
</div>
