<div class="pt-6 pb-4 flex flex-col items-center justify-center gap-4">
  <app-info-with-filters class="w-full" [competition]="competition()"></app-info-with-filters>
  @if(store.phase()) {
    @if(store.group() && !!getGroup(store.group())) {
      <h4 class="text-3xl font-bold text-center">{{ getGroup(store.group())!.name }}</h4>
      <div class="w-full flex flex-col md:flex-row justify-center gap-4">
        <app-summary-results class="flex-1" [competition]="competition()" [group]="getGroup(store.group())!" (moreInfoClick)="onMoreInfoClicked()" (matchTeamClicked)="onMatchTeamClicked($event)"></app-summary-results>
        <app-summary-results class="flex-1" [competition]="competition()" [group]="getGroup(store.group())!" (moreInfoClick)="onMoreInfoClicked()" (matchTeamClicked)="onMatchTeamClicked($event)"></app-summary-results>
      </div>
    } @else if(store.phase()!.groups.length > 0) {
      @for (group of store.phase()!.groups; track group.id) {
        <h4 class="text-3xl font-bold text-center">{{ group.name }}</h4>
        <div class="w-full flex flex-col md:flex-row justify-center gap-4">
          <app-summary-results class="flex-1" [competition]="competition()" [group]="group" (moreInfoClick)="onMoreInfoClicked()" (matchTeamClicked)="onMatchTeamClicked($event)"></app-summary-results>
          <app-summary-results class="flex-1" [competition]="competition()" [group]="group" (moreInfoClick)="onMoreInfoClicked()" (matchTeamClicked)="onMatchTeamClicked($event)"></app-summary-results>
        </div>
      }
    } @else {
      <app-not-found title="No hay partidos disponibles" subtitle="No hay partidos disponibles para esta fase." [hideButton]="true"></app-not-found>
    }
  } @else {
    <app-not-found title="No hay partidos disponibles" subtitle="No hay partidos disponibles para esta competición." [hideButton]="true"></app-not-found>
  }
</div>
