<div class="relative">
  @if(competitionStore.error()) {
    <app-not-found title="Hubo un error" subtitle="Lo sentimos, hubo un error al cargar la competición. Inténtelo más tarde." buttonText="Volver a cargar" (buttonClicked)="reloadCompetition()"></app-not-found>
  } @else if(competitionStore.isLoading()) {
    <app-full-spinner></app-full-spinner>
  } @else if(competitionStore.competition()) {
    <div class="pt-6 pb-4 flex flex-col items-center justify-center gap-6">
      <div class="flex gap-4 items-center flex-wrap justify-center">
        @if(competitionStore.competition()!.imageUrl) {
          <div class="aspect-square overflow-hidden rounded-t-md">
            <img class="w-[48px] h-[48px] object-contain" [src]="competitionStore.competition()!.imageUrl" [alt]="'Imagen para la competición ' + competitionStore.competition()!.name" />
          </div>
        }
        <h1 class="text-4xl font-bold text-center">{{ competitionStore.competition()!.name }}</h1>
      </div>
      <mat-tab-group class="w-full" [selectedIndex]="currentTab()" (selectedTabChange)="onTabChange($event.index)" [animationDuration]="'100ms'" [dynamicHeight]="true">
        <mat-tab label="Resumen">
          <app-summary></app-summary>
        </mat-tab>
        <mat-tab label="Clasificación">
          <app-classification class="w-full"></app-classification>
        </mat-tab>
        <mat-tab label="Resultados">
          <app-results></app-results>
        </mat-tab>
        <mat-tab label="Equipos">
          <ng-template matTabContent>
            @if(showTeamComponent() && competitionStore.competition()) {
              <div class="py-4 w-full flex flex-col gap-4">
                <div class="w-full sm:w-fit">
                  <button matButton="filled" (click)="onBackToTeams()"> Volver a equipos </button>
                </div>

                <app-team [teamId]="selectedTeamId()!" [competition]="competitionStore.competition()!" (errorButtonClick)="onBackToTeams()"></app-team>
              </div>
            } @else {
              <app-teams [teams]="competitionStore.competition()!.teams" (teamSelected)="onTeamSelect($event)"></app-teams>
            }
          </ng-template>
        </mat-tab>
      </mat-tab-group>

    </div>
  } @else {
    <app-not-found title="Competición no encontrada" subtitle="Lo sentimos, no se ha encontrado la competición." buttonText="Ir a la página de competiciones" (buttonClicked)="onNotFoundButtonClick()"></app-not-found>
  }
</div>
