
<div class="flex items-center" [ngClass]="{'flex-row-reverse': position() === 'right'}">
  <a class="flex items-center gap-2 cursor-pointer text-gray-900 hover:text-blue-700" [ngClass]="{'flex-row-reverse': position() === 'right'}" aria-label="Ver equipo" tabindex="0" (click)="onTeamClicked()" (keypress)="onTeamClicked()">
    <app-team-image class="flex-shrink-0 flex items-center" [team]="team()"></app-team-image>
    <p class="text-wrap" [ngClass]="{
      'font-bold': isWinner(),
      'text-right': position() === 'right',
      'text-gray-500': !team().active,
      'text-xs sm:text-sm': fontSize() === 'small' || (fontSize() === null && (!team().shortName || !isWinner())),
      'text-sm sm:text-base': fontSize() === 'medium' || (fontSize() === null && team().shortName && isWinner()),
      'text-sm sm:text-lg': fontSize() === 'large'
    }">{{ team().shortName || team().name }}</p>
  </a>
</div>
