
<div class="relative">
  @if(teamWithLoading$ | async; as teamWithLoading) {
    @if(teamWithLoading.isLoading) {
      <app-full-spinner></app-full-spinner>
    } @else if(teamWithLoading.team) {
      <div class="p-8 flex flex-col items-center justify-center gap-6">
        <h1 class="text-4xl font-bold">Equipo</h1>
        <p>{{ teamWithLoading.team.name }}</p>
        @if(teamWithLoading.team.description) {
          <p>{{ teamWithLoading.team.description }}</p>
        }
        @if(teamWithLoading.team.imageUrl) {
          <img [src]="teamWithLoading.team.imageUrl" [alt]="'Imagen para el equipo ' + teamWithLoading.team.name" />
        }
      </div>
    } @else {
      <app-not-found title="Equipo no encontrado" subtitle="Lo sentimos, no se ha encontrado el equipo." buttonText="Ir a la página de equipos" buttonLink="/equipos"></app-not-found>
    }
  }
</div>
