<div class="flex flex-col">
  <h1 class="text-4xl font-bold my-4">Contacto</h1>
  <h2 class="text-2xl mb-2">Asociación De Deportistas Aficionados De Illes Balears</h2>
  <div class="flex gap-1">
    <h3 class="text-xl mb-2">Dirección: </h3>
    <a class="text-xl underline cursor-pointer text-blue-500" href="https://maps.app.goo.gl/TjGdfvgrBBHJFFqFA">C/ Olicar, 39 - 07041 Marratxí, Illes Balears - España</a>
  </div>
  <div class="flex gap-1">
    <h3 class="text-xl mb-2">Email: </h3>
    <a class="text-xl underline cursor-pointer text-blue-500" href="mailto:info@adaib.es">info@adaib.es</a>
  </div>

  <div class="flex gap-1">
    <h3 class="text-xl mb-2">Teléfono: </h3>
    <a class="text-xl underline cursor-pointer text-blue-500" href="tel:+34666666666">666666666</a>
  </div>
</div>
