<a class="cursor-pointer" tabindex="0" (click)="onTeamClick()" (keydown.enter)="onTeamClick()" aria-label="Ver equipo" [ngClass]="{'opacity-50': !team().active}">
  <div class="p-4 relative flex flex-col justify-center h-full bg-white border border-gray-200 rounded-lg shadow-sm cursor-pointer transition-all duration-300 ease-in-out hover:shadow-md hover:bg-gray-100">
    <div class="flex flex-col items-center gap-y-4">
      @if (team().imageUrl) {
        <div class="aspect-square overflow-hidden rounded-t-md shrink-0">
          <img
            [src]="team().imageUrl"
            [alt]="'Imagen para el equipo ' + team().name"
            class="w-[150px] h-[150px] object-scale-down">
        </div>
      } @else {
        <mat-icon class="!w-[140px] !h-[140px] !text-[140px] border-[5px] box-content rounded-full flex items-center justify-center shrink-0" aria-hidden="false" aria-label="Icono del equipo" fontIcon="groups"></mat-icon>
      }
      <div class="flex flex-col gap-y-2">
        <h2 class="text-xl text-center font-semibold text-gray-900 line-clamp-2">{{ team().name }}</h2>
        @if (team().arena) {
          @if (team().arenaUrl) {
            <a class="text-base text-center text-gray-600 underline hover:text-blue-500" tabindex="0" (click)="onArenaClick($event)" (keydown.enter)="onArenaClick($event)">
              {{ team().arena }}
            </a>
          } @else {
            <p class="text-base text-center text-gray-600 line-clamp-2">{{ team().arena }}</p>
          }
        }
      </div>
    </div>
  </div>
</a>
