<div class="w-full pt-6 pb-4 flex flex-col items-center justify-center gap-6">
  <div class="w-full flex flex-row justify-center items-center gap-4">
    <h1 class="text-4xl font-bold">Admin teams</h1>
    <button matTooltip="Crear" matTooltipPosition="right" matMiniFab aria-label="Crear" type="button" (click)="onAddTeamClick()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  @if(adminTeamsStore.error()) {
    <app-not-found title="Hubo un error" subtitle="Lo sentimos, hubo un error al cargar los equipos. Inténtelo más tarde." [hideButton]="true"></app-not-found>
  } @else {
    @if(adminTeamsStore.isLoading()) {
      <app-full-spinner></app-full-spinner>
    } @else if(adminTeamsStore.teams()) {
      <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        @for (team of adminTeamsStore.teams()!; track team.id) {
          <app-team-card [team]="team" (teamClick)="onTeamClick(team.id)"></app-team-card>
        }
      </div>
    }
  }
</div>
