<div class="w-full pt-6 pb-4 flex flex-col items-center justify-center gap-6">
  <div class="flex flex-row gap-2 items-center justify-center gap-4">
    <h1 class="text-4xl font-bold">{{ pageTitle }}</h1>
    @if(isEditMode()) {
      <a mat-mini-fab aria-label="Eliminar competición" matTooltip="Eliminar competición" matTooltipPosition="right" tabindex="0" [disabled]="isLoading()" (click)="onDelete()" (keyup)="onDelete()" (keypress)="onDelete()">
        <mat-icon>delete</mat-icon>
      </a>
    }
  </div>
  @if(competitionsStore.error()) {
    <app-not-found
      title="Hubo un error"
      subtitle="Lo sentimos, hubo un error al {{ isEditMode() ? 'editar' : 'crear' }} la competición. Inténtelo más tarde."
      [hideButton]="true">
    </app-not-found>
  } @else if(isLoading()) {
    <app-full-spinner></app-full-spinner>
  } @else {
    <form [formGroup]="form" class="flex flex-col items-center justify-center gap-2 w-full max-w-2xl" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-full">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="name" maxlength="100" />
        @if(name.errors?.['required']) {
          <mat-error>El nombre es requerido</mat-error>
        }
        @if(name.errors?.['maxlength']) {
          <mat-error>El nombre no puede tener más de 100 caracteres</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>URL de la imagen</mat-label>
        <input matInput type="text" formControlName="imageUrl" maxlength="255" />
        @if(imageUrl.errors?.['pattern']) {
          <mat-error>La URL de la imagen no es válida</mat-error>
        }
        @if(imageUrl.errors?.['maxlength']) {
          <mat-error>La URL de la imagen no puede tener más de 255 caracteres</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="status">
          <mat-option value="NotStarted">No iniciada</mat-option>
          <mat-option value="Ongoing">En curso</mat-option>
          <mat-option value="Finished">Finalizada</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="startDatepicker" formControlName="startDate">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="startDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Fecha de fin</mat-label>
        <input matInput [matDatepicker]="endDatepicker" formControlName="endDate">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="endDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description" rows="3"></textarea>
        @if(description.errors?.['maxlength']) {
          <mat-error>La descripción no puede tener más de 1000 caracteres</mat-error>
        }
      </mat-form-field>
      <div class="flex flex-row gap-2 items-center pt-2 justify-between w-full">
        <div class="flex flex-row gap-2 items-center">
          <mat-label>Activo</mat-label>
          <mat-slide-toggle formControlName="active" />
        </div>
        @if(isEditMode()) {
          <a matButton="outlined" matTooltip="Crear nueva fase asociada a esta competición" matTooltipPosition="below" tabindex="0" [disabled]="isLoading()" (click)="onAddPhase()" (keyup)="onAddPhase()" (keypress)="onAddPhase()">
            Añadir fase
          </a>
        }
        <div class="flex flex-row gap-2 items-center">
          @if(isEditMode() && shouldShowCreateButton()) {
            <a matButton="outlined" matTooltip="Crear nueva competición" tabindex="0" [disabled]="isLoading()" (click)="onCreateNew()" (keyup)="onCreateNew()" (keypress)="onCreateNew()">
              Nueva competición
            </a>
          }
          <button matButton="filled" type="submit" [disabled]="isMainButtonDisabled()">
            {{ submitButtonText }}
          </button>
        </div>
      </div>
    </form>
  }
</div>
