<div class="w-full pt-6 pb-4 flex flex-col items-center justify-center gap-6">
  <h1 class="text-4xl font-bold">Crear equipo</h1>
  @if(teamsStore.error()) {
    <app-not-found title="Hubo un error" subtitle="Lo sentimos, hubo un error al añadir el equipo. Inténtelo más tarde." [hideButton]="true"></app-not-found>
  } @else if(isLoading()) {
    <app-full-spinner></app-full-spinner>
  } @else {
    <form [formGroup]="form" class="flex flex-col items-center justify-center gap-2 w-full max-w-lg" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-full">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="name" />
        @if(name.errors?.['required']) {
          <mat-error>El nombre es requerido</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Nombre corto</mat-label>
        <input matInput type="text" formControlName="shortName" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Descripción</mat-label>
        <input matInput type="text" formControlName="description" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Ubicación</mat-label>
        <input matInput type="text" formControlName="location" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>URL de la imagen</mat-label>
        <input matInput type="text" formControlName="imageUrl" />
        @if(imageUrl.errors?.['pattern']) {
          <mat-error>La URL de la imagen no es válida</mat-error>
        }
      </mat-form-field>
      <div class="flex flex-row gap-2 items-center pt-2 justify-between w-full">
        <div class="flex flex-row gap-2 items-center">
          <mat-label>Activo</mat-label>
          <mat-slide-toggle formControlName="active" />
        </div>
        <button matButton="filled" type="submit" [disabled]="form.invalid || isLoading()">Crear</button>
      </div>
    </form>
  }
</div>
