<div class="w-full pt-6 pb-4 flex flex-col items-center justify-center gap-6">
  <div class="flex flex-row gap-2 items-center justify-center gap-4">
    <h1 class="text-4xl font-bold">{{ isEditMode() ? 'Editar' : 'Crear' }} fase</h1>
    @if(isEditMode()) {
      <a mat-mini-fab aria-label="Eliminar fase" matTooltip="Eliminar fase" matTooltipPosition="right" tabindex="0" [disabled]="isLoading()" (click)="onDelete()" (keyup)="onDelete()" (keypress)="onDelete()">
        <mat-icon>delete</mat-icon>
      </a>
    }
  </div>
  @if(competitionStore.error()) {
    <app-not-found title="Hubo un error" subtitle="Lo sentimos, hubo un error al cargar la competición. Inténtelo más tarde." [hideButton]="true"></app-not-found>
  } @else if(isLoading()) {
    <app-full-spinner></app-full-spinner>
  } @else {
    <form [formGroup]="form" class="flex flex-col items-center justify-center gap-2 w-full max-w-2xl" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-full">
        <mat-label>Nombre de la fase</mat-label>
        <input matInput type="text" formControlName="name" maxlength="100" />
        @if(name.errors?.['required']) {
          <mat-error>El nombre es requerido</mat-error>
        }
        @if(name.errors?.['maxlength']) {
          <mat-error>El nombre no puede tener más de 100 caracteres</mat-error>
        }
      </mat-form-field>
      <div class="flex flex-row gap-2 items-center pt-2 justify-between w-full">
        @if(isEditMode()) {
          <a matButton="outlined" matTooltip="Crear nuevo grupo asociado a esta fase" matTooltipPosition="below" tabindex="0" [disabled]="isLoading()" (click)="onAddGroup()" (keyup)="onAddGroup()" (keypress)="onAddGroup()">
            Añadir grupo
          </a>
          <a matButton="outlined" matTooltip="Crear nueva jornada asociada a esta fase" matTooltipPosition="below" tabindex="0" [disabled]="isLoading()" (click)="onAddRound()" (keyup)="onAddRound()" (keypress)="onAddRound()">
            Añadir jornada
          </a>
        }
        @if(isEditMode() && shouldShowCreateButton()) {
          <a matButton="outlined" matTooltip="Crear nueva fase" tabindex="0" [disabled]="isLoading()" (click)="onCreateNew()" (keyup)="onCreateNew()" (keypress)="onCreateNew()">
            Nueva fase
          </a>
        }
        <button matButton="filled" type="submit" [disabled]="isMainButtonDisabled()">
          {{ isEditMode() ? 'Guardar' : 'Crear' }}
        </button>
      </div>
    </form>
  }
</div>
