<div class="w-full pt-6 pb-4 flex flex-col items-center justify-center gap-6">
  <div class="flex flex-row gap-2 items-center justify-center gap-4">
    <h1 class="text-4xl font-bold">{{ isEditMode() ? 'Editar jornada' : 'Crear jornada' }}</h1>
    @if(isEditMode()) {
      <a mat-mini-fab aria-label="Eliminar jornada" matTooltip="Eliminar jornada" matTooltipPosition="right" tabindex="0" [disabled]="isLoading()" (click)="onDelete()" (keyup)="onDelete()" (keypress)="onDelete()">
        <mat-icon>delete</mat-icon>
      </a>
    }
  </div>
  @if(competitionStore.error()) {
    <app-not-found title="Hubo un error" subtitle="Lo sentimos, hubo un error al cargar la competición. Inténtelo más tarde." [hideButton]="true"></app-not-found>
  } @else if(isLoading()) {
    <app-full-spinner></app-full-spinner>
  } @else {
    <form [formGroup]="form" class="flex flex-col items-center justify-center gap-2 w-full max-w-2xl" (ngSubmit)="onSubmit()">
      <div class="flex flex-row gap-2 items-center w-full">
        <mat-form-field class="flex-1">
          <mat-label>Fase</mat-label>
          <mat-select formControlName="phase">
            @for(phase of phases(); track phase.id) {
              <mat-option [value]="phase">{{ phase.name }}</mat-option>
            }
          </mat-select>
          @if(form.get('phase')?.errors?.['required']) {
            <mat-error>La fase es requerida</mat-error>
          }
        </mat-form-field>
        @if(!!form.get('phase')?.value) {
          <a mat-mini-fab aria-label="Editar fase" matTooltip="Editar fase" matTooltipPosition="right" tabindex="0" [disabled]="isLoading()" (click)="onEditPhase()" (keyup)="onEditPhase()" (keypress)="onEditPhase()">
            <mat-icon>edit</mat-icon>
          </a>
        }
      </div>
      <mat-form-field class="w-full">
        <mat-label>Nombre de la jornada</mat-label>
        <input matInput type="text" formControlName="name" />
        @if(form.get('name')?.errors?.['required']) {
          <mat-error>El nombre es requerido</mat-error>
        }
      </mat-form-field>
      <div class="flex flex-row gap-2 items-center pt-2 justify-between w-full">
        @if(isEditMode()) {
          <a matButton="outlined" matTooltip="Crear nuevo partido asociado a este grupo" matTooltipPosition="below" tabindex="0" [disabled]="isLoading()" (click)="onAddMatch()" (keyup)="onAddMatch()" (keypress)="onAddMatch()">
            Añadir partido
          </a>
        }
        @if(isEditMode() && shouldShowCreateButton()) {
          <a matButton="outlined" matTooltip="Crear nuevo grupo asociado a la fase" matTooltipPosition="below" tabindex="0" [disabled]="isLoading()" (click)="onAddGroup()" (keyup)="onAddGroup()" (keypress)="onAddGroup()">
            Nuevo grupo
          </a>
          <a matButton="outlined" matTooltip="Crear nueva jornada" tabindex="0" [disabled]="isLoading()" (click)="onCreateNew()" (keyup)="onCreateNew()" (keypress)="onCreateNew()">
            Nueva jornada
          </a>
        }
        <button matButton="filled" type="submit" [disabled]="isMainButtonDisabled()">
          {{ isEditMode() ? 'Guardar' : 'Crear' }}
        </button>
      </div>
    </form>
  }
</div>
