<div class="flex flex-row gap-2 items-center">
  <mat-form-field class="w-full">
    <mat-label>Grupo</mat-label>
    <mat-select [value]="competitionStore.group()" (selectionChange)="onGroupFilterChange($event.value)">
      <mat-option value="all">Todos</mat-option>
      @for (group of availableGroups(); track group.id) {
        <mat-option [value]="group">{{ group.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if(!!userStore.user()) {
    @if(competitionStore.group() === 'all') {
      <a mat-mini-fab aria-label="Crear grupo" matTooltip="Crear grupo" matTooltipPosition="above" tabindex="0" (click)="onCreateGroupClick()" (keyup)="onCreateGroupClick()" (keypress)="onCreateGroupClick()">
        <mat-icon>add</mat-icon>
      </a>
    } @else {
      <a mat-mini-fab aria-label="Editar grupo" matTooltip="Editar grupo" matTooltipPosition="above" tabindex="0" (click)="onEditGroupClick()" (keyup)="onEditGroupClick()" (keypress)="onEditGroupClick()">
        <mat-icon>edit</mat-icon>
      </a>
    }
  }
</div>
