<div class="w-full pt-6 pb-4 flex flex-col items-center justify-center gap-6">
  @if(isMatchNotFound()) {
    <app-not-found title="Partido no encontrado" subtitle="Lo sentimos, el partido no se encontró. Inténtelo más tarde." [hideButton]="true"></app-not-found>
  } @else {
    <div class="flex flex-row gap-2 items-center justify-center gap-4">
      <h1 class="text-4xl font-bold">{{ isEditMode() ? 'Editar partido' : 'Crear partido' }}</h1>
      @if(isEditMode()) {
        <a mat-mini-fab aria-label="Eliminar partido" matTooltip="Eliminar partido" matTooltipPosition="right" tabindex="0" [disabled]="isLoading()" (click)="onDelete()" (keyup)="onDelete()" (keypress)="onDelete()">
          <mat-icon>delete</mat-icon>
        </a>
      }
    </div>
    @if(competitionStore.error()) {
      <app-not-found title="Hubo un error" subtitle="Lo sentimos, hubo un error al crear la competición. Inténtelo más tarde." [hideButton]="true"></app-not-found>
    } @else if(isLoading()) {
      <app-full-spinner></app-full-spinner>
    } @else {
      <form [formGroup]="form" class="flex flex-col items-center justify-center gap-2 w-full max-w-2xl" (ngSubmit)="onSubmit()">
        <div class="flex flex-row gap-2 items-center w-full">
          <mat-form-field class="flex-1">
            <mat-label>Fase</mat-label>
            <mat-select formControlName="phase">
              @for(phase of phases(); track phase.id) {
                <mat-option [value]="phase">{{ phase.name }}</mat-option>
              }
            </mat-select>
            @if(form.get('phase')?.errors?.['required']) {
              <mat-error>La fase es requerida</mat-error>
            }
          </mat-form-field>
          @if(!!form.get('phase')?.value) {
            <a mat-mini-fab aria-label="Editar fase" matTooltip="Editar fase" matTooltipPosition="right" tabindex="0" [disabled]="isLoading()" (click)="onEditPhase()" (keyup)="onEditPhase()" (keypress)="onEditPhase()">
              <mat-icon>edit</mat-icon>
            </a>
          }
        </div>
        <div class="flex flex-row gap-2 items-center w-full">
          <mat-form-field class="flex-1">
            <mat-label>Grupo</mat-label>
            <mat-select formControlName="group">
              @for(group of groups(); track group.id) {
                <mat-option [value]="group">{{ group.name }}</mat-option>
              }
            </mat-select>
            @if(form.get('group')?.errors?.['required']) {
              <mat-error>El grupo es requerido</mat-error>
            }
          </mat-form-field>
          @if(!!form.get('group')?.value) {
            <a mat-mini-fab aria-label="Editar grupo" matTooltip="Editar grupo" matTooltipPosition="right" tabindex="0" [disabled]="isLoading()" (click)="onEditGroup()" (keyup)="onEditGroup()" (keypress)="onEditGroup()">
              <mat-icon>edit</mat-icon>
            </a>
          }
        </div>
        <div class="flex flex-row gap-2 items-center w-full">
          <mat-form-field class="flex-1">
            <mat-label>Jornada</mat-label>
            <mat-select formControlName="round">
              @for(round of rounds(); track round.id) {
                <mat-option [value]="round">{{ round.name }}</mat-option>
              }
            </mat-select>
            @if(form.get('round')?.errors?.['required']) {
              <mat-error>La jornada es requerida</mat-error>
            }
          </mat-form-field>
          @if(!!form.get('round')?.value) {
            <a mat-mini-fab aria-label="Editar jornada" matTooltip="Editar jornada" matTooltipPosition="right" tabindex="0" [disabled]="isLoading()" (click)="onEditRound()" (keyup)="onEditRound()" (keypress)="onEditRound()">
              <mat-icon>edit</mat-icon>
            </a>
          }
        </div>
        <mat-form-field class="w-full">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="status">
            <mat-option value="NotStarted">No iniciado</mat-option>
            <mat-option value="OnGoing">En curso</mat-option>
            <mat-option value="Cancelled">Cancelado</mat-option>
            <mat-option value="Rest">Descanso</mat-option>
            <mat-option value="Finished">Finalizado</mat-option>
          </mat-select>
          @if(form.get('status')?.errors?.['required']) {
            <mat-error>El estado es requerido</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Equipo local</mat-label>
          <mat-select formControlName="homeTeam">
            @for(team of teams(); track team.id) {
              <mat-option [value]="team">{{ team.name }}</mat-option>
            }
          </mat-select>
          @if(form.get('homeTeam')?.errors?.['required']) {
            <mat-error>El equipo local es requerido</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Equipo visitante*</mat-label>
          <mat-select formControlName="awayTeam">
            @for(team of teams(); track team.id) {
              <mat-option [value]="team">{{ team.name }}</mat-option>
            }
          </mat-select>
          @if(form.get('awayTeam')?.errors?.['awayTeamRequired']) {
            <mat-error>El equipo visitante es requerido</mat-error>
          }
        </mat-form-field>
        <div class="flex flex-row gap-2 items-center w-full">
          <mat-form-field class="w-full">
            <mat-label>Puntos equipo local</mat-label>
            <input matInput type="number" formControlName="homeTeamScore" />
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Puntos equipo visitante</mat-label>
            <input matInput type="number" formControlName="awayTeamScore" />
          </mat-form-field>
        </div>
        <div class="flex flex-row gap-2 items-center w-full">
          <mat-form-field class="w-full">
            <mat-label>Fecha del partido</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="date">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Hora del partido</mat-label>
            <input matInput [matTimepicker]="timepicker" formControlName="time">
            <mat-timepicker-toggle matIconSuffix [for]="timepicker"></mat-timepicker-toggle>
            <mat-timepicker interval="15min" #timepicker></mat-timepicker>
            @if(form.get('time')?.errors?.['required']) {
              <mat-error>La hora es requerida</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="flex flex-row gap-2 items-center pt-2 justify-between w-full">
          @if(isEditMode() && shouldShowCreateButton()) {
            <a matButton="outlined" matTooltip="Crear nuevo partido" tabindex="0" [disabled]="isLoading()" (click)="onCreateNew()" (keyup)="onCreateNew()" (keypress)="onCreateNew()">
              Nuevo partido
            </a>
          }
          <button matButton="filled" type="submit" [disabled]="isMainButtonDisabled()">
            {{ isEditMode() ? 'Guardar' : 'Crear' }}
          </button>
        </div>
      </form>
    }
  }
</div>
