<div class="w-full pt-6 pb-4 flex flex-col gap-2 items-center justify-center">
  <h2 class="text-4xl font-bold text-center">Clasificación</h2>
  @if(competitionStore.competition()!.phases.length > 0) {
    <div class="flex flex-col sm:flex-row gap-2 w-full justify-center max-w-200">
      <app-phase-filter class="w-full"></app-phase-filter>
      <app-group-filter class="w-full"></app-group-filter>
    </div>
  }
  <app-classification-table class="w-full flex justify-center" (teamClick)="onTeamClicked($event)"></app-classification-table>
</div>
