<div class="w-full pt-6 pb-4 flex flex-col gap-2 items-center justify-center">
  <h2 class="text-4xl font-bold text-center">Clasificación</h2>
  @if(competitionStore.competition()!.phases.length > 0) {
    <div class="flex flex-col sm:flex-row gap-2 w-full justify-center max-w-200">
      <app-phase-filter class="w-full"></app-phase-filter>
      <app-group-filter class="w-full"></app-group-filter>
    </div>
  }
  <div class="w-full flex flex-col gap-3 max-w-200">
    @if(allClassifications().length > 0) {
    @for (classifications of allClassifications(); track classifications.group.id) {
      <div class="flex flex-col gap-2 bg-white rounded-md shadow-sm border border-gray-200">
        <h3 class="text-3xl font-bold text-center pt-4 pb-2">{{ classifications.group.name }}</h3>
        @if(classifications.classifications.length > 0) {
        <app-classification-item class="w-full border-y border-gray-300" [isHeader]="true"></app-classification-item>
          @for (classification of classifications.classifications; track classification.id; let i = $index) {
            <app-classification-item class="w-full border-b border-gray-300" [classification]="classification" (teamClick)="onTeamClicked($event)"></app-classification-item>
          }
        } @else {
          <app-not-found title="No hay clasificaciones disponibles" subtitle="No hay clasificaciones disponibles para este grupo." [hideButton]="true"></app-not-found>
        }
      </div>
    }
  } @else {
    <app-not-found title="No hay clasificaciones disponibles" subtitle="No hay clasificaciones disponibles para esta competición." [hideButton]="true"></app-not-found>
  }
  </div>
</div>
