@if(!match().date && !homeTeam().arena) {
  <p class="text-xs text-gray-500">N/D</p>
} @else {
  <div class="flex flex-col items-center justify-center flex-wrap">
    @if(match().date) {
    <p class="text-xs text-gray-500 text-center break-words">{{ match().date | date: 'EEEE, dd/MM/yyyy HH:mm' | titlecase }}</p>
    }
    @if(homeTeam().arena) {
      @if(homeTeam()!.arenaUrl) {
        <a class="text-xs text-gray-500 text-center underline hover:text-blue-500" [href]="homeTeam()!.arenaUrl" target="_blank">{{ homeTeam()!.arena }}</a>
      } @else {
        <p class="text-xs text-gray-500 text-center">{{ homeTeam()!.arena }}</p>
      }
    }
  </div>
}
