
<div class="w-full flex flex-col gap-3 max-w-200">
  @if(allClassifications().length > 0) {
  @for (classificationPerPhase of allClassifications(); track classificationPerPhase.phase.id) {
    <div class="flex flex-col gap-2">
      @if(showPhaseHeader()) {
        <h3 class="text-3xl font-bold text-center pt-4 pb-2">{{ classificationPerPhase.phase.name }}</h3>
      }
      <div class="flex flex-col gap-2 bg-white rounded-md shadow-sm border border-gray-200">
        @if(classificationPerPhase.info.length > 0) {
          @for (classificationPerGroup of classificationPerPhase.info; track classificationPerGroup.group.id; let i = $index) {
            <app-classification-table-group [group]="classificationPerGroup.group" (teamClick)="onTeamClicked($event)">
              @if(showPhaseHeader()) {
                <h4 class="text-2xl font-bold text-center py-4">{{ classificationPerGroup.group.name }}</h4>
              } @else {
                <h3 class="text-3xl font-bold text-center py-4">{{ classificationPerGroup.group.name }}</h3>
              }
            </app-classification-table-group>
          }
        } @else {
          <app-not-found title="No hay clasificaciones disponibles" subtitle="No hay clasificaciones disponibles para esta fase." [hideButton]="true"></app-not-found>
        }
      </div>
    </div>
  }
} @else {
  <app-not-found title="No hay clasificaciones disponibles" subtitle="No hay clasificaciones disponibles para esta competición." [hideButton]="true"></app-not-found>
}
