<div class="landing-container">
  <img
    class="background-image blur-xs scale-105"
    src="assets/bg-main/basketball-bg_1280.jpg"
    srcset="
      assets/bg-main/basketball-bg_640.jpg 640w,
      assets/bg-main/basketball-bg_1280.jpg 1280w,
      assets/bg-main/basketball-bg_1920.jpg 1920w,
      assets/bg-main/basketball-bg_2400.jpg 2400w
    "
    type="image/jpg"
    sizes="100vw"
    alt="Fondo de la página de inicio"
    fetchpriority="high">
  <div class="content-overlay flex flex-col gap-y-8">
    <img
    src="assets/logo/full/transparent/white-letters/1280.png"
    srcset="
    assets/logo/full/transparent/white-letters/640.png 640w,
    assets/logo/full/transparent/white-letters/1280.png 1280w,
      assets/logo/full/transparent/white-letters/1920.png 1920w,
      assets/logo/full/transparent/white-letters/3840.png 3840w"
    type="image/png"
    sizes="100vw"
    alt="ADAIB - Asociación De Deportistas Aficionados De Les Illes Balears"
    fetchpriority="high">
  </div>
</div>
