<div class="landing-container">
  <img
    class="background-image blur-xs scale-105"
    src="assets/bg-main/basketball-bg_1280.webp"
    srcset="
      assets/bg-main/basketball-bg_640.webp 640w,
      assets/bg-main/basketball-bg_1280.webp 1280w,
      assets/bg-main/basketball-bg_1920.webp 1920w,
      assets/bg-main/basketball-bg_2400.webp 2400w
    "
    type="image/webp"
    sizes="105vw"
    alt="Fondo de la página de inicio"
    fetchpriority="high">
  <div class="content-overlay flex flex-col gap-y-8">
    <img
    src="assets/logo/full/transparent/white-letters/1280.webp"
    srcset="
    assets/logo/full/transparent/white-letters/640.webp 640w,
    assets/logo/full/transparent/white-letters/1280.webp 1280w,
      assets/logo/full/transparent/white-letters/1920.webp 1920w,
      assets/logo/full/transparent/white-letters/3840.webp 3840w"
    type="image/webp"
    sizes="90vw"
    alt="ADAIB - Asociación De Deportistas Aficionados De Les Illes Balears"
    fetchpriority="high">
  </div>
</div>
