@if(snackbarStore.snackbar()) {
  <div
    id="snackbar"
    class="fixed right-4 bottom-4 z-50 flex items-center gap-4 rounded-lg px-4 py-2 shadow-lg backdrop-blur-md transition-all duration-300"
    role="alert"
    aria-live="assertive"
    [attr.aria-label]="'Notification: ' + snackbarStore.snackbar()?.message"
    [ngClass]="{'bg-green-500/80': snackbarStore.snackbar()?.type === 'success', 'bg-red-500/80': snackbarStore.snackbar()?.type === 'error', 'bg-amber-600/80': snackbarStore.snackbar()?.type === 'warning', 'bg-blue-500/80': snackbarStore.snackbar()?.type === 'info'}"
  >
      <span id="snackbar-message" class="text-white">{{ snackbarStore.snackbar()?.message }}</span>
  <button
    class="text-sm text-white"
    (click)="hide()"
    aria-label="Close notification"
    aria-describedby="snackbar-message"
  >✕</button>
  </div>
}
