<div class="flex flex-row gap-2 items-center">
  <mat-form-field class="w-full">
    <mat-label>Fase</mat-label>
    <mat-select [value]="competitionStore.phase()" (selectionChange)="onPhaseFilterChange($event.value)">
      <mat-option value="all">Todas</mat-option>
      @for (phase of competitionStore.competition()!.phases; track phase.id) {
        <mat-option [value]="phase">{{ phase.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if(!!userStore.user()) {
    @if(competitionStore.phase() === 'all') {
      <a mat-mini-fab aria-label="Crear fase" matTooltip="Crear fase" matTooltipPosition="above" tabindex="0" (click)="onCreatePhaseClick()" (keyup)="onCreatePhaseClick()" (keypress)="onCreatePhaseClick()">
        <mat-icon>add</mat-icon>
      </a>
    } @else {
      <a mat-mini-fab aria-label="Editar fase" matTooltip="Editar fase" matTooltipPosition="above" tabindex="0" (click)="onEditPhaseClick()" (keyup)="onEditPhaseClick()" (keypress)="onEditPhaseClick()">
        <mat-icon>edit</mat-icon>
      </a>
    }
  }
</div>
