
<div class="flex flex-col pt-2 gap-2 bg-white rounded-md shadow-sm border border-gray-200">
  <app-classification-table-group [group]="group()" (teamClick)="onTeamClicked($event)">
    <div class="flex justify-center items-center gap-4">
      <h5 class="text-2xl font-bold text-center">Clasificación</h5>
      <a matButton="tonal" (click)="onMoreInfoClicked()" (keydown.enter)="onMoreInfoClicked()" (keydown.space)="onMoreInfoClicked()" tabindex="0" ariaLabel="Más información de este grupo">Más info</a>
    </div>
  </app-classification-table-group>
</div>
