
<div class="relative">
  @if(competitionStore.isLoading()) {
    <app-full-spinner></app-full-spinner>
  } @else if(team()) {
    <app-team-info [team]="team()!"></app-team-info>
    <div class="flex flex-col lg:flex-row justify-center gap-4 w-full">
      <div class="flex flex-col w-full">
        <h3 class="text-3xl font-bold text-center text-gray-800 py-4">Resultados</h3>
        <div class="flex flex-col gap-2">
          @if(pastMatches() && pastMatches().length > 0) {
            @for (match of pastMatches(); track 'past-' + match.id) {
              <app-match class="w-full flex justify-center" [match]="match" [showExtraInfo]="true" (matchTeamClicked)="onMatchTeamClicked($event)"></app-match>
            }
          } @else {
            <div class="text-center py-8 text-gray-500">
              <p>No hay partidos disponibles para este equipo.</p>
            </div>
          }
        </div>
      </div>
      <div class="flex flex-col w-full">
        <h3 class="text-3xl font-bold text-center text-gray-800 py-4">Calendario</h3>
        <div class="flex flex-col gap-2">
          @if(futureMatches() && futureMatches().length > 0) {
            @for (match of futureMatches(); track 'future-' + match.id) {
              <app-match class="w-full flex justify-center" [match]="match" [showExtraInfo]="true" (matchTeamClicked)="onMatchTeamClicked($event)"></app-match>
            }
          } @else {
            <div class="text-center py-8 text-gray-500">
              <p>No hay partidos disponibles para este equipo.</p>
            </div>
          }
        </div>
      </div>
    </div>
  } @else {
    <app-not-found
      title="Equipo no encontrado"
      subtitle="Lo sentimos, no se ha encontrado el equipo."
      buttonText="Ir a la página de equipos"
      (buttonClicked)="onNotFoundButtonClick()">
    </app-not-found>
  }
</div>
