<div class="relative">
  @if(competitionCards$ | async; as cards) {
    @if(cards.length > 0) {
    <div class="p-8 flex flex-col items-center justify-center gap-6">
      <h1 class="text-4xl font-bold">Competiciones</h1>
      <div class="flex flex-col gap-4 w-full">
        @for (card of cards; track card.id) {
          <app-card class="w-full" [card]="card"></app-card>
        }
      </div>
    </div>
    } @else {
      <app-not-found title="No hay competiciones" subtitle="Lo sentimos, no hay competiciones disponibles en este momento." buttonText="Ir a la página de inicio" buttonLink="/"></app-not-found>
    }
  } @else {
    <app-full-spinner></app-full-spinner>
  }
</div>
