<div class="relative">
  @if(competitions$ | async; as competitions) {
    @if(competitions.length > 0) {
    <div class="p-4 sm:p-8 flex flex-col items-center justify-center gap-6">
      <h1 class="text-4xl font-bold">Competiciones</h1>
      <div class="flex flex-col w-full shadow-sm bg-white rounded-lg border-t border-gray-200">
        @for (card of competitions; track card.id) {
          <div class="border-b border-gray-200">
            <app-competition-card class="w-full" [competition]="card"></app-competition-card>
          </div>
        }
      </div>
    </div>
    } @else {
      <app-not-found title="No hay competiciones" subtitle="Lo sentimos, no hay competiciones disponibles en este momento." buttonText="Ir a la página de inicio" buttonLink="/"></app-not-found>
    }
  } @else {
    <app-full-spinner></app-full-spinner>
  }
</div>
