
<div class="relative">
  @if(failedToLoadTeam()) {
    <app-not-found title="Hubo un error" subtitle="Lo sentimos, hubo un error al cargar el equipo. Inténtelo más tarde." buttonText="Volver a cargar" (buttonClicked)="reloadTeam()"></app-not-found>
  } @else if(isLoading()) {
    <app-full-spinner></app-full-spinner>
  } @else if(team()) {
    <div class="p-8 flex flex-col items-center justify-center gap-6">
      <h1 class="text-4xl font-bold text-center">Equipo</h1>
      <p>{{ team()!.name }}</p>
      @if(team()!.shortName) {
        <p>Short Name: {{ team()!.shortName }}</p>
      }
      @if(team()!.imageUrl) {
        <img [src]="team()!.imageUrl" [alt]="'Imagen para el equipo ' + team()!.name" />
      }
      @if(team()!.description) {
        <p>{{ team()!.description }}</p>
      }
      @if(team()!.location) {
        <p>Location: {{ team()!.location }}</p>
      }
      <p>Fase: {{ team()!.phaseName }}</p>
      <p>Grupo: {{ team()!.groupName }}</p>
      <p>Activo: {{ team()!.active }}</p>
    </div>
  } @else {
    <app-not-found title="Equipo no encontrado" subtitle="Lo sentimos, no se ha encontrado el equipo." buttonText="Ir a la página de equipos" (buttonClicked)="onNotFoundButtonClick()"></app-not-found>
  }
</div>
