<div class="w-full max-w-200 flex" [ngClass]="{
  'bg-white rounded-md shadow-sm border border-gray-200': !compactView(),
}">
  @if(isMatchOngoing()) {
    <div class="bg-green-500 h-full w-[5px]" [ngClass]="{'rounded-tl-md rounded-bl-md': !compactView()}" aria-label="En juego" matTooltip="En juego" matTooltipPosition="above">
    </div>
  } @else {
    <div class="bg-transparent h-full w-[5px]"></div>
  }
  <div class="w-full bg-white p-2 sm:p-3 flex flex-col gap-2 rounded-md">
    @if(isDetailedMatch() && showExtraInfo()) {
      <app-match-extra-info [match]="detailedMatch()"></app-match-extra-info>
    }
    <div class="w-full flex justify-between items-center gap-2">
      <app-compact-team class="flex-1" [team]="match().homeTeam" [isWinner]="isTeamWinner(match().homeTeam)" (teamClicked)="onMatchTeamClicked(match().homeTeam)"></app-compact-team>
      <div class="flex flex-col items-center">
        <app-match-score [match]="match()"></app-match-score>
        <app-match-info [match]="match()"></app-match-info>
      </div>
      @if(match().awayTeam) {
        <app-compact-team class="flex-1" [team]="match().awayTeam!" position="right" [isWinner]="isTeamWinner(match().awayTeam!)" (teamClicked)="onMatchTeamClicked(match().awayTeam!)"></app-compact-team>
      } @else {
        <p class="flex-1 text-base italic text-gray-500 text-right mr-[2px]">Descansa</p>
      }

      @if(!!userStore.user()) {
        <a mat-icon-button aria-label="Editar partido" matTooltip="Editar partido" matTooltipPosition="right" tabindex="0" (click)="onEditMatch()" (keyup)="onEditMatch()" (keypress)="onEditMatch()">
          <mat-icon>edit</mat-icon>
        </a>
      }
    </div>
  </div>
  <div class="bg-transparent h-full w-[5px]"></div>
</div>
