<div class="flex items-center gap-2" [ngClass]="{'flex-row-reverse': position() === 'right'}">
  @if(team().imageUrl) {
    <div class="aspect-[1:1] overflow-hidden rounded-t-md">
      <img [src]="team().imageUrl" [alt]="team().name" class="w-[32px] h-[32px] object-scale-down">
    </div>
  } @else {
    <mat-icon class="!w-[28px] !h-[28px] !text-[28px] border-[2px] box-content rounded-full flex items-center justify-center" aria-hidden="false" aria-label="Icono del equipo" fontIcon="groups"></mat-icon>
  }
  <p class="text-xl font-semibold text-gray-900 line-clamp-2">{{ team().name }}</p>
</div>
