<a class="cursor-pointer text-gray-900 hover:text-blue-700" [routerLink]="['equipos', team().id]" aria-label="Ver equipo">
    <div class="flex items-center gap-2 overflow-hidden" [ngClass]="{'flex-row-reverse': position() === 'right'}">
    @if(team().imageUrl) {
      <div class="aspect-[1:1] overflow-hidden rounded-t-md flex-shrink-0">
        <img [src]="team().imageUrl" [alt]="team().name" class="w-[32px] h-[32px] object-contain">
      </div>
    } @else {
      <mat-icon class="!w-[28px] !h-[28px] !text-[28px] border-[2px] box-content rounded-full flex items-center justify-center flex-shrink-0" aria-hidden="false" aria-label="Icono del equipo" fontIcon="groups"></mat-icon>
    }
    <p class="text-xs sm:text-sm text-wrap" [ngClass]="{'font-bold': isWinner(), 'text-right': position() === 'right'}">{{ team().shortName || team().name }}</p>
  </div>
</a>
