<div class="w-full flex flex-col">
  <ng-content></ng-content>
  @if(group().classification.length > 0) {
    <div class="w-full mt-2 overflow-x-auto">
      <table class="w-full border-collapse bg-white table-fixed min-w-full rounded-md">
        <thead class="bg-gray-100 border-b-2 border-gray-200">
          <app-classification-item class="contents" [isHeader]="true"></app-classification-item>
        </thead>
         <tbody>
          @for (classification of group().classification; track classification.id; let i = $index) {
            <app-classification-item class="contents" [classification]="classification" (teamClick)="onTeamClicked($event)"></app-classification-item>
          }
        </tbody>
      </table>
    </div>
  } @else {
    <app-not-found title="No hay clasificaciones disponibles" subtitle="No hay clasificaciones disponibles para este grupo." [hideButton]="true"></app-not-found>
  }
</div>
