<div class="relative">
  @if(sportWithLoading$ | async; as sportWithLoading) {
    @if(sportWithLoading.isLoading) {
      <app-full-spinner></app-full-spinner>
    } @else if(sportWithLoading.sport) {
      <div class="p-8 flex flex-col items-center justify-center gap-6">
        <h1 class="text-3xl font-bold">Deporte Individual</h1>
        <p>{{ sportWithLoading.sport.name }}</p>
        @if(sportWithLoading.sport.description) {
          <p>{{ sportWithLoading.sport.description }}</p>
        }
      </div>
    } @else {
      <app-not-found title="Deporte no encontrado" subtitle="Lo sentimos, no se ha encontrado el deporte." buttonText="Ir a la página de deportes" buttonLink="/deportes"></app-not-found>
    }
  }
</div>
